body{
    align-self: center;
    background: url(../images/background.jpg);
    background-size: contain;
    width: 800px;
    padding:100px;
    text-align: center;
    margin:auto;
    color:black;
    font-family: sans-serif;
    font-size: 25px;
}
.button{
    background: green;
}
#box{
    width: 600px;
    padding:100px;
    text-align: center;
    margin:auto;
    color:black;
    font-family: sans-serif;
    background: aquamarine;
}