body{
    align-self: center;
    background: url(/home/newton/Documents/quizBoard/images/image.jpg);
    background-size: contain;
    width: 800px;
    padding:100px;
    text-align: center;
    margin:auto;
    margin-top: 5%;
    color:white;
    font-family: sans-serif;
}